* {
font-family: 'Roboto Condensed', sans-serif;
}
body{
color:#FFFFFF;
background-image: url(../images/fondo1.jpg);
}
h1 {
  text-align: center;
  color:#FFFFFF;
  text-decoration: underline;
}
.form-group{
color: #FFFFFF;
margin: 1px;
}
.form-hola{
color: #FFFFFF;
margin: 20px;
}
