body {background-image: url(../imagenes/fondo.jpg);
  color:black;
}


  h1{text-align: center;
  color:#FFFFFF;
  text-decoration: underline;
}
h3{
  color:white;
}
p{ font-size: 20px;
  text-align: center;
  color: #FFFFFF;
}
