body{
  color:#FFFFFF;
  background-color: black;
  background-attachment: fixed;
  background-image: url(imagenes/fondo.jpg);
  }
form{
color: black;
}
h1{
text-align: center;
text-decoration: underline;
}
*{
font-family: 'Roboto Condensed', sans-serif;
}
